﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:400,500&subset=cyrillic');

@media (max-width: 800px) {
    .loginForm.loginForm {
        width: 75% ;
        left: 12.5% ;
        margin-left: 0;
    }
}


* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url('../Images/section_calltoaction.jpg');
    height: 100%;
    background-size: contain;
}

body {
    background-color: transparent;
}

label {
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: rgb(62, 86, 102);
    margin-bottom: 50px;
    padding-top: 20px;
}


.loginForm {
    position: fixed;
    width: 600px;
    min-height: 385px;
    left: 50%;
    top: 25%;
    margin-left: -300px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
    padding: 30px 15px;
}

input[type=text], input[type=password] {
    padding: 12px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    border: 1px solid rgb(41, 145, 214);
    height: 50px;
    color: rgb(62, 86, 102);
    background-color: transparent;
    margin-bottom: 20px;
}

input[type=submit] {
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    width: 25%;
}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}