﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700|Source+Sans+Pro:400,700&subset=cyrillic');

@media (max-width: 991px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }

    .navbar-header {
        float: none;
    }

    .navbar-brand {
        font-size: 1em !important;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }

    
}

@media (max-width: 768px) {
    .mainPhotoBanner > div {
        margin-top: 38% !important;
    }

    .footer .navbar-brand {
        display: none;
    }
}

@media (max-width: 991px) {
    .arrowSection {
        height: 0 !important;
    }

    .featureContainer {
        border-right:none !important;
    }

    .arrows {
        display: none;
    }

    .teacherDes {
        padding-right: 0 !important;
        padding: 15px 5% !important;
        
    }

    .teacherName {
        padding: 16px 0 !important;
        height: 350px !important; 
    }

    .rightSection > a > div {
        
        margin-top: 50px !important;
    }
}

* {
    padding: 0;
    margin: 0;
}

p, label {
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: none;
}

body {
    padding-top: 85px;
}

#mainLogo{
    max-height: 50px;
    display: inline-block;
}

.navbar {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.navbar-default {
    background-image: none;
    background-color: #FCFCFC;
    border: none;
}

 .navbar-brand.navbar-brand {

    padding: 0 15px;

}

 .navbar-brand-text {
    color: #2F2F2F;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 700;
    
    margin-bottom: 0;
    padding: 15px 5px;
}

 .navbar-brand:hover {
    color: rgb(62, 86, 102);
}

 .navbar-default .navbar-nav > li {
     margin-left: 30px;
 }

.navbar-default .navbar-nav > li > .nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #2F2F2F;
    
    margin-bottom: 0;
    padding: 15px 0;
}

.navbar-default .navbar-nav > li > .nav-link:hover {
    color: rgb(41, 145, 214);
}

.navbar-default .navbar-nav > li > .active {
    color: rgb(41, 145, 214);
}


.nav-button {
    margin: 10px 20px;
    width: 150px;
    height: 30px;
    background-color: rgb(41, 145, 214);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.nav-button > a {
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: white;
}

.navbar-default .navbar-toggle {
    border-color: rgb(41, 145, 214);
    border-width: 1px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(41, 145, 214);
    
}

.col-md-12 {
    padding: 0;
}

#mainPhotoSection {
    height: 750px;
    position: relative;
}

#mainPhotoSection::after {
    content: '';
    display: block;
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-image: url('../Images/NEW/mainBanner.jpg');
    background-image: url('../Images/home_slider.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    filter: brightness(50%);
}

.mainPhotoBanner > div {
    position: absolute;
    width: 90%;
    margin-top: 200px;
    z-index: 1;
}

.mainPhotoBanner p {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    
    font-weight: 600;
    color: white;
  
}

.mainPhotoBanner .small {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin-left: 3px;
    font-weight: 300;
    color: white;
  
}

.mainPhotoBanner .nav-button {
    margin: 0;
    margin-top: 20px;
}

.features {
    padding-top: 70px;
    padding-bottom: 60px;
}

.features > .col-md-8 > .col-md-4 {
    margin-bottom: 40px;
}

.featureContainer {
    padding-bottom: 20px;
    text-align: center;
    border-right: 1px solid rgba(62, 86, 102,0.2);
}


.featureContainer div {
    width: 75%;
    margin: 0 auto;
    display: inline-block;
}

.featureContainer img{
    
    display: block;
    margin: 5px auto;
    margin-bottom: 20px;
    width: 110px;
}

.featureContainer .featureName {
    font-family: 'Open Sans', sans-serif;
    color: rgb(62, 86, 102);
    font-weight: 600;
    font-size: 21px;
    line-height: 28px;
}

.featureContainer .featureDes {
    color: rgb(62, 86, 102);
    font-weight: 400;
    font-size: 1em;
    line-height: 24px;
    width: 80%;
    margin-left: 10%;
}

#programmSection {
    background-image: url('../Images/section_calltoaction.jpg');
    background-position-x: center;
    background-position-y: center;
    background-attachment:fixed;
    background-size: contain;
}

.courseProgrammContainter {
    padding: 40px 2.5%;
   
}

.cPCHeading {
    color: white;
    font-weight: 500;
    font-size: 32px;
}

.programmBlock {
    margin: 30px 0;
    position: relative;
}

.programmBlock > p {
    display: inline-block;
    float: left;
    color: white;
    padding: 28px 0;
    padding-right: 10px;
    font-weight: 500;
    font-size: 2em;
    line-height: 28px;
    margin: 0;
}

.programmBlock > div {
    display: inline-block;
    padding: 15px;
    width: calc(100% - 30px);
    
    margin: 15px 0;
    background-color:white;
    border-radius: 5px;
}

.programmBlock > div > p {
    color: rgb(62, 86, 102);
    font-size: 1em;
    margin: 0;
}

.programmBlock > div > p:first-of-type {
    font-weight: 500;
    font-size: 1.5em;
    
}

.programmBlock > div > p:nth-of-type(2) {
    font-size: 0.75em;
}

.programmBlock > div > p:nth-of-type(3) {
    padding-top: 12px;
}

.teachers {
    padding-top: 30px;
    padding-bottom: 70px;
}

.secHeading {
    color: rgb(62, 86, 102);
    font-size: 2em;
    font-weight: 500;
}

.teachers > .col-md-8 {
    padding-top: 30px;
}

.oneTeacher {
    text-align: center;
    display: none;
}

.oneTeacher img {
    width: 200px;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 28px;
    display: block;
}

.oneTeacher > .teacherName {
    padding: 32px 0;
    height: 410px;
}

.oneTeacher > .teacherDes {
    padding: 15px 20px;
    min-height: 410px;
}

.oneTeacher > .teacherName > p {
    color: rgb(62, 86, 102);
    font-size: 1em;
    margin: 0;

}

.oneTeacher > .teacherName > p:first-of-type {
    font-weight: 500;
    padding-top: 10px;
    font-size: 2em;
}



.oneTeacher > .teacherDes > p {
    display: flex;
    color: rgb(62, 86, 102);
    font-size: 1.5em;
    align-items: center;
    min-height: 346px;
    margin: 0;
    justify-content: center;
}

.listOfTeachers {
    margin: 5px 0;
    text-align: center;
}

.arrowSection{
    height: 390px;
}

.arrows {
    width: 64px !important;
    margin: 163px auto;
    cursor: pointer;
}

.listOfTeachers img {
    border-radius: 100%;
    width: 100px;
    display: inline-block;
    margin-right: 15px;
    border: 3px solid rgba(0,0,0,0);
    box-sizing: content-box;
    padding: 5px;
    cursor: pointer;
}

.activeTeacher {
    border: 3px solid rgb(41, 145, 214) !important;
    
}

.reviews {
    
    background-image: url('../Images/section_home_counters.jpg');
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    padding-top: 30px;
    padding-bottom: 60px;
}



.singleReview {
    padding-top: 40px;
    
}

.singleReview iframe {
    width: 100%;
}

.featuresWithHeading {
    padding-top: 50px !important;
}

.featuresWithHeading .secHeading {
    padding-bottom: 30px;
}

.featuresWithHeading .featureContainer {
    padding: 20px 0;
}

.enrollForm {
    padding-top: 30px;
    padding-bottom: 60px;
    background-image: url('../Images/section_calltoaction.jpg');
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: contain;
}

.enrollForm > .col-md-12:first-of-type > p {
    padding-bottom: 20px;
    color: white;
}

.enrollForm p, .enrollForm label {
    color: rgb(62, 86, 102);
}

.enrollForm form {
    width: 100%;
    
    background-color: rgba(255,255,255,0.8);
    min-height: 550px;
    border-radius: 5px;
    padding: 30px 15px;
}

.enrollForm label {
    font-size: 1.25em;
    font-weight: 500;
}

.enrollForm input[type=text], .enrollForm input[type=email] {
    padding: 12px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    border: 1px solid rgb(62, 86, 102);
    height: 50px;
    color: rgb(62, 86, 102);
    background-color: transparent;
}

.enrollForm input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-left: -30px;
    margin-top: 2px;
}

.checkbox label {
    padding-left: 30px;

}


.rightSection > a > div {
    margin: 0 auto;
    margin-top: 170px;
    width: 90%;
    height: 150px;
    text-align: center;
    border-radius: 5px;
    
    background-color: rgb(41, 145, 214);
    cursor: pointer;
}

.rightSection > div {
    margin: 0 auto;
    width: 90%;
    height: 150px;
    text-align: left;
    
}

.rightSection > a > div> p {
    line-height: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 500;

    color: white !important;
}

.rightSection > div > a {
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0;
    color: rgb(62, 86, 102);
    padding-right: 10px;
    
}

.faq {
    padding-top: 50px;
    padding-bottom: 50px;
}

.faq > .faqHeading {
    color: rgb(62, 86, 102);
    font-weight: 500;
    font-size: 2em;
    padding-bottom: 40px;
}

.faq > .question {
    width: 100%;
    min-height: 100px;
    border: 1px solid rgb(62, 86, 102);
    border-radius: 5px;
    text-align: left;
    margin-bottom: 30px;
    cursor: pointer;
}


.faq > .question > p {
    padding: 35px 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-weight: 500;
    color: rgb(62, 86, 102);
    
    margin-bottom: 0;
}



.faq > .question > .answer {
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: rgb(62, 86, 102);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;
    padding-top: 0;
    display: none;
}

.footer {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 5px 1px;
    height: 50px;
}

.footer a {
    color: rgb(62, 86, 102);
}
.footer p {
    color: rgb(62, 86, 102);
    float: right;
    padding-right: 1%;
    font-size: 1em;
    line-height: 50px;
    margin-bottom: 0;
}