﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:400,500&subset=cyrillic');


@media (max-width: 768px) {
    .navbar-brand {
        display: none;
    }

    .navbar-center {
        float: left;
        position: relative !important;
        width: 40% !important;
        left: 0 !important; 
        
    }

   
    
}


* {
    padding: 0;
    margin: 0;
    
}

p, label, a {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

p:active {
    text-decoration: none;
}

body {
    padding-top: 75px;
    background-image: url('../Images/section_calltoaction.jpg');
    
    background-size: contain;
}

.navbar {
    height: 75px;
}

.navbar-brand {
    padding: 27px 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-weight: 500;
}

#mainLogo{
    max-height: 32px;
    margin-top: -5px;
}

.navbar-default {
    background-image: none;
    background-color: rgba(255,255,255,0.9);
    border: none;
    z-index: 1;
}

.navbar-default .navbar-brand {
    color: rgb(62, 86, 102);
    
    font-size: 18px;
    font-weight: 500;
}

.navbar-default .navbar-brand:hover {
    color: rgb(62, 86, 102);
}

.navbar-default .navbar-nav > li > .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(62, 86, 102);
}

.navbar-default .navbar-nav > li > .nav-link:hover {
    color: rgb(41, 145, 214);
}

.navbar-default .navbar-nav > li > .active {
    color: rgb(41, 145, 214);
}

.navbar .divider-vertical {
    height: 30px;
    margin: 10px 9px;
    border-right: 0.15px solid rgba(62, 86, 102,0.2);
}

.nav-button {
    width: 100%;
    height: 30px;
    background-color: rgb(41, 145, 214);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.nav-button > p {
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-shadow: none;
}

.navbar-default .navbar-toggle {
    border-color: rgb(41, 145, 214);
    border-width: 1px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(41, 145, 214);
    
}

.navbar-center {
    position: absolute;
    width: 25%;
    left: 37.5%;
}

.navbar-center li {
    width: 100%;
}




.navbar-nav {
    margin: 0;
}

.navbar-nav li > a {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    
}

.navbar-center > li > a {
    padding: 22.5px 0;
    padding-right: 10px;
    
}

.navbar-nav > li {
    float: left;
}

.navbar-right {
    float: right;
}

.userImg {
    border-radius: 100%;
    width: 50px;
}

.notifications {
    text-align: center;
}

.notifications >  img{
    width: 32px;
    padding-top: 12px;
}

.notifications >  p{
    background-color: rgb(41, 145, 214);
    color: white;
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 10%;
    border-radius: 100%;
    width: 20px;
    text-shadow: none;
}

.col-md-2, .col-md-8 {
    padding: 20px 1%;
}



.leftButtons {
    text-decoration: none;
}

.leftButtons > div {
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    text-align: center;
    border-radius: 5px;
    height: 100px;
    margin-bottom: 20px;
}

.leftButtons > div > p {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;
    font-weight: 500;
    color: rgb(62, 86, 102);
    font-size: 1.5em;
    line-height: 28px;
    padding: 36px 0;
    margin-bottom: 0;
    text-decoration: none;
}

.unit {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
}

.unit > p {
    font-weight: 500;
    color: white;
    font-size: 32px;
    padding-left: 1.5%;
    padding-top: 15px;
    
}

.unit > .lesson {
    margin-left: 1.5%;
    margin-top: 20px;
    width: 97%;
    min-height: 150px;
    
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8);
}

.lesson > .col-md-2 > img {
    width: 100px;
    margin: auto;
    display: block;
    border-radius: 100%;
}

.lesson > .col-md-2, .lesson > .col-md-8 {
    padding: 25px 0;
}

.lessonName {
    font-family: 'Open Sans', sans-serif;
    color: rgb(62, 86, 102);
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 0;
    margin-left: 1.3%;
    font-weight: 500;
}

.lessonTeacher {
    font-family: 'Open Sans', sans-serif;
    color: rgb(62, 86, 102);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin-left: 1.3%;
}

.lesson ul {
    padding: 10px 1.3%;
}

.lessonButtons li {
    display: inline-block;
    float: right;
    margin-left: 2%;
    width: 32%
}

.lessonButtons li:nth-of-type(3) {
    margin-left: 0;
}

.lessonButtons li > a > div {
    width: 100%;
    background-color: rgb(41, 145, 214);
    border-radius: 5px;
    text-align: center;
    height: 35px;
    overflow: hidden;
}

.lessonButtons li > a > div > p {
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 0;
}

.lesson .col-md-2 > p {
    padding-top: 6px;
    color: rgb(62, 86, 102);
    width: 80%;
    margin-left: 10%;
    font-size: 16px;
}

.lesson .col-md-2 {
    text-align: center;
}

.imgSec p {
    display: none;
}

.lessonDay {
    font-weight: 500;
    font-size: 28px;
}

.lessonLecture {
    display: none;
    position:fixed;
    top:0;
    left:0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.7);
}

.lessonLecture iframe {
    position: fixed;
    left: 15%;
    top: 15%;
    display: block;
    height: 70%;
    width: 70%;
}

.homeworkContainer {
    position: relative;
    width: 100%;
    
    padding: 1% 2%;
    min-height: 500px;
    background-color: rgba(255,255,255,0.8);
}

.homeworkContainer p, .homeworkContainer label {
    color: rgb(62, 86, 102);
    font-size: 16px;
    
}

.homeworkContainer > .hwName {
    font-weight: 500;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
}

.hwMarkContainer {
    display: inline-block;
    float: right;
   
    margin-right: 2%;
    padding-left: 15px;
    text-align: center;
}

.hwMark {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: green;
    font-weight: 500;
}

.sendHWTextArea {
    width: 100%;
    padding: 12px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: 1px solid rgb(62, 86, 102);
    height: 50px;
    color: rgb(62, 86, 102);
    background-color: transparent;
    resize: vertical;
}

.sendHW > a > div {
    width: 15%;
    min-width: 100px;
    height: 30px;
    background-color: rgb(41, 145, 214);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    display: inline-block;
}

.sendHW > a > div > p{
    color: white;
    font-weight: 500;
    line-height: 30px;
    font-size: 18px;
    
}

.rightHWButton {
    display: inline-block;
    float: right;
    color: rgb(62, 86, 102);
    font-size: 16px;
    font-weight: 500;
}

.notifMsg {
    width: 40vw;
    max-height: 500px;
    overflow-y: auto;
}

.notifMsg>li>a {
    white-space: normal;
}
