﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:400,500&subset=cyrillic');

@media (max-width: 800px) {
    .loginForm.loginForm {
        width: 75% ;
        left: 12.5% ;
        margin-left: 0;
    }
}

h2, label, a, p, td, th {
   color: rgb(62, 86, 102);

}

th {
    text-shadow: none;
}


.coursesChooseContainer {
    position: fixed;
    width: 500px;
    height: 70%;
    left: 50%;
    margin-left: -250px;
    top: 15%;
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
    padding: 30px 15px;
    overflow-y: auto;
}

.singleCourse {
    width: 90%;
    height: 100px;
    margin: 20px 5%;
    background-color: rgb(41, 145, 214);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.coursesChooseContainer .nav-button.nav-button {
    width: 90%;
    height: 100px;
    margin: 50px 5%;
}

.coursesChooseContainer .nav-button p {
    line-height: 100px;
}

.singleCourse p {
    line-height: 100px;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-shadow: none;
}
