﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:400,500&subset=cyrillic');

* {
    padding: 0;
    margin: 0;
    
}

p, label, a {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

p:active {
    text-decoration: none;
}

body {
    padding-top: 50px;

}

.navbar-brand {
    padding: 16px 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-weight: 500;
}

#mainLogo{
    max-height: 32px;
    margin-top: -5px;
}

.navbar-default {
    background-image: none;
    background-color: rgba(255,255,255,0.9);
    border: none;
    z-index: 1;
}

.navbar-default .navbar-brand {
    color: rgb(62, 86, 102);
    
    font-size: 18px;
    font-weight: 500;
}

.navbar-default .navbar-brand:hover {
    color: rgb(62, 86, 102);
}

.navbar-default .navbar-nav > li > .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(62, 86, 102);
}

.navbar-default .navbar-nav > li > .nav-link:hover {
    color: rgb(41, 145, 214);
}

.navbar-default .navbar-nav > li > .active {
    color: rgb(41, 145, 214);
}

.navbar .divider-vertical {
    height: 30px;
    margin: 10px 9px;
    border-right: 0.15px solid rgba(62, 86, 102,0.2);
}

.nav-button {
    width: 100%;
    height: 30px;
    background-color: rgb(41, 145, 214);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.nav-button > p {
    line-height: 30px;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-shadow: none;
}

.navbar-default .navbar-toggle {
    border-color: rgb(41, 145, 214);
    border-width: 1px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(41, 145, 214);
    
}

.navbar-nav {
    margin: 0;
}

.navbar-nav li > a {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    
}

.navbar-nav > li {
    float: left;
}

.navbar-right {
    float: right;
}
